{% extends 'layouts/master.twig' %}

{% block page_title %}{{ 'customer.dashboard'|trans }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container customer-layout">
    {% include 'components/customer/sidebar.twig' %}
    <div class="customer-content">
      <h1>{{ 'customer.welcome'|trans }}</h1>
      <div class="stats-grid">
        <article><h3>12</h3><p>{{ 'customer.orders'|trans }}</p></article>
        <article><h3>4</h3><p>{{ 'customer.pending'|trans }}</p></article>
        <article><h3>7</h3><p>{{ 'customer.wishlist'|trans }}</p></article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
