<article class="cart-item">
  <img src="{{ item.image|default('https://picsum.photos/120/120?random=1') }}" alt="{{ item.name|default('Item') }}">
  <div>
    <h3>{{ item.name|default('Cart Product') }}</h3>
    <p>{{ item.variant|default('Default') }}</p>
  </div>
  <div class="cart-item__qty">
    <button type="button">-</button>
    <input type="number" min="1" value="{{ item.qty|default(1) }}">
    <button type="button">+</button>
  </div>
  <strong>{{ item.price|default('99 SAR') }}</strong>
</article>
