<div class="mega-menu">
  <div class="mega-menu__col">
    <h4>{{ 'mega.fashion'|trans }}</h4>
    <a href="#">{{ 'mega.men'|trans }}</a>
    <a href="#">{{ 'mega.women'|trans }}</a>
    <a href="#">{{ 'mega.kids'|trans }}</a>
  </div>
  <div class="mega-menu__col">
    <h4>{{ 'mega.electronics'|trans }}</h4>
    <a href="#">{{ 'mega.smartphones'|trans }}</a>
    <a href="#">{{ 'mega.audio'|trans }}</a>
    <a href="#">{{ 'mega.gaming'|trans }}</a>
  </div>
  <div class="mega-menu__promo">
    <p>{{ 'mega.promo_title'|trans }}</p>
    <a class="btn btn--primary" href="/offers">{{ 'common.shop_now'|trans }}</a>
  </div>
</div>
