<aside id="mobile-nav" class="mobile-nav" aria-hidden="true">
  <button class="mobile-nav__close" type="button" data-close-mobile-nav>{{ 'common.close'|trans }}</button>
  <a href="/">{{ 'nav.home'|trans }}</a>
  <a href="/categories">{{ 'nav.categories'|trans }}</a>
  <a href="/offers">{{ 'nav.offers'|trans }}</a>
  <a href="/brands">{{ 'nav.brands'|trans }}</a>
  <a href="/blog">{{ 'nav.blog'|trans }}</a>
  <a href="/customer/login">{{ 'nav.account'|trans }}</a>
</aside>
