<nav class="main-nav" aria-label="{{ 'header.main_navigation'|trans }}">
  <ul class="main-nav__list">
    <li><a href="/">{{ 'nav.home'|trans }}</a></li>
    <li><a href="/categories">{{ 'nav.categories'|trans }}</a></li>
    <li><a href="/offers">{{ 'nav.offers'|trans }}</a></li>
    <li><a href="/brands">{{ 'nav.brands'|trans }}</a></li>
    <li><a href="/blog">{{ 'nav.blog'|trans }}</a></li>
    <li><a href="/pages/about-us">{{ 'nav.about'|trans }}</a></li>
  </ul>
</nav>
