<aside class="filters-panel">
  <h3>{{ 'product.filters'|trans }}</h3>
  <details open>
    <summary>{{ 'product.price_range'|trans }}</summary>
    <label><input type="checkbox"> 0 - 100</label>
    <label><input type="checkbox"> 100 - 500</label>
    <label><input type="checkbox"> 500+</label>
  </details>
  <details open>
    <summary>{{ 'product.availability'|trans }}</summary>
    <label><input type="checkbox"> {{ 'product.in_stock'|trans }}</label>
    <label><input type="checkbox"> {{ 'product.on_sale'|trans }}</label>
  </details>
</aside>
